@model LaTuaPizza.Models.CardDetails

@{ ViewData["Title"] = "Index"; }

<h2>Payment Details </h2>

<div class="row">
    <div class="col-md-8 order-md-1">
        <form asp-action="ValidateAndSave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-block" style="margin:15px;">
                <div class="card_type" id="mastercard">@Html.RadioButtonFor(model => model.CardType, "MasterCard") Master Card</div>
                <div class="card_type" id="visa">@Html.RadioButtonFor(model => model.CardType, "Visa") Visa</div>
                <div class="card_type" id="amex">@Html.RadioButtonFor(model => model.CardType, "American Express") American Express</div>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="CardNo" class="control-label"></label>
                <input id="card" asp-for="CardNo" class="form-control" />
                <span asp-validation-for="CardNo" class="text-danger"></span>
                <span id="card_error" class="text-danger"></span>

            </div>
            <div class="form-group col-md-6 mb-3">
                <label asp-for="CardName" class="control-label"></label>
                <input id="card_name" asp-for="CardName" class="form-control" />
                <small class="text-muted">Full name as displayed on card</small>
                <span asp-validation-for="CardName" class="text-danger"></span>
                <span id="card_name_error" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input asp-for="Phone" value="@ViewBag.userPhone" type="hidden" class="form-control" />
            </div>
            <div class="form-group col-md-3 mb-3" style="display:flex;">
                <label asp-for="Expiry" class="control-label"></label>
                <input class="form-control" type="text" id="month" placeholder="MM" maxlength="2" size="2" style="margin-bottom: 5px; margin-left:5px; width:60px;" />
                <span style="margin-left: 5px; font-size: x-large;">/</span>
                <input class="form-control" type="text" id="year" placeholder="YYYY" maxlength="4" size="4" style="margin-bottom: 5px; margin-left: 5px; width: 100px;" />
                <input type="hidden" id="expiry" asp-for="Expiry" value="" />
                <span asp-validation-for="Expiry" class="text-danger"></span>
            </div>
            <hr class="mb-4">
            <div class="col-md-3 mb-3">
                <h4 class="mb-3">Total <strong>$@ViewBag.totalPrice</strong></h4>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-success btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>
<script>
    var isFormValid = true;
    var month = document.getElementById('month');
    var year = document.getElementById('year');
    var expiry = document.getElementById('expiry');
    $('#year').focusout(function () {
        expiry.value = parseInt(month.value + year.value);
    });
    $('#card').focusin(function () {
        $('#card_error').text("");
    });

    $("form").submit(function (e) {
        var card_type = $("input[name='CardType']:checked").val().toString();
        var card_name = $('#card_name').val().toString().trim();
        var card_no = $('#card').val().toString();
        var msg = "";
        //card number validation
        if ($('#card').val().toString() != "") {
            if (card_type == 'MasterCard') {
                if (!(new RegExp(/^(51|55)[0-9]{14}$/).test(card_no))) {
                    isFormValid = false;
                    msg = "Master Card format invalid!\n16 digits allowed with 51 or 55 prefix";
                } else {
                    isFormValid = true;
                }
            } else if (card_type == 'Visa') {
                if (!(new RegExp(/^4[0-9]{15}$/).test(card_no))) {
                    msg = "Visa card format invalid!\n16 digits allowed for card numbers starting with prefix 4.";
                    isFormValid = false;
                } else {
                    isFormValid = true;
                }
            } else {
                if (!(new RegExp(/(34|37)[0-9]{13}$/).test(card_no))) {
                    isFormValid = false;
                    msg = "Amex card format invalid!\n15 digits allowed. Card numbers should start with 34 or 37.";
                } else {
                    isFormValid = true;
                }
            }
        }

        //card name validation
        if (!(new RegExp(/[A-Za-z]+/).test(card_name))) {
            $('#card_name_error').text("Card name cannot contain numbers and special characters!");
            isFormValid = false
        }

        if (isFormValid == false) {
            $('#card_error').text(msg);
            e.preventDefault(e);
            alert('Please check the details entered!');
        }
    });
</script>